body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs-opt/background.svg");/* added the background */
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;       /* added to display the menu at the top left */
  margin-right: 0;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

ul {
  list-style-type: none;
  text-align: left;
}

svg {
  padding-left: .5%;
  padding-right: .5%;
}

.nav li {
  display: inline;
  margin-right: 2%;
}

.nav li:hover svg path {
  fill: #111;
}



/*=============================================================================
Keyframes
==============================================================================*/

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

/*=============================================================================
Icon graphics
==============================================================================*/

.nav li:hover svg path {
  animation: pulse 1s ease-out;
}

/*=============================================================================
Logo graphics
==============================================================================*/

.logo {
  margin: 1em auto;
  width: 140px;
  height: 120px;
}

.logo:hover {
  animation: pulse 1s ease-out;
}

.logo-name {
  color: #eaaa7f;
  font-size: 28px;
}

.st1 {
  opacity: 0;
}


.st2:hover {
  fill: #feae6e;
}

.paw-icon {
  transition: transform .4s ease-out;
  transform-origin: 50% 50%;
}

.paw:hover .paw-icon {
  transform:  scale(1.3);
}

/*=============================================================================
Corgi graphics
==============================================================================*/

.corgi_1 {
  color: #c68c53;
}
.corgi_2 {
  color: #e4a281;
}
.corgi_3 {
  color: #804000;
}

.corgi_4 {
  color: #52595f;
}

/*=============================================================================
Media Queries
==============================================================================*/

@media (min-width: 425px) {

  .st1 {
    opacity: 1;
  }

  .logo-name {
    display: none;
  }
}
